@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

header {
  background-color: #FFF2F3;
  display: flex;
  justify-content: space-between;
  padding: 10px 200px;
  height: 10vh;
  align-items: center;
}

nav>a {
  font-size: 16px;
  color: #737373;
  text-decoration: none;
  font-weight: 600;
}

nav {
  display: flex;
  gap: 20px;
}

.butons>button:nth-child(2) {
  background-color: #96BB7C;
  color: #fff;
  padding: 15px 25px;
  border: none;
  border-radius: 10px;
}

.butons>button:nth-child(1) {
  background-color: transparent;
  color: #96BB7C;
  padding: 15px 25px;
  border: none;
}

main {
  display: flex;
  justify-content: space-between;
  padding: 10px 200px;
  align-items: center;
  height: 90vh;
  background-color: #FFF2F3;
}

main>div>h1 {
  font-size: 58px;
  color: #252B42;
}

main>div>p:nth-child(1) {
  font-size: 20px;
  color: #96BB7C;
  letter-spacing: 1px;
}


main>div>p:nth-child(3) {
  font-size: 20px;
  color: #737373;
  letter-spacing: 1px;
}

.packages {
  display: flex;
  height: 60vh;
  align-items: center;
  justify-content: space-between;
  padding: 10px 200px;
}

.boxes {
  display: flex;
  gap: 20px;
  align-items: center;
}



.box {
  padding: 25px 40px;
  box-shadow: 10px 10px 40px 2px rgba(0,0,0,0.75);
}

.box > div {
  width: 50px;
  height: 2px;
  background-color: #E74040;
  margin: 20px 0px;
}

.box > img {
  margin-bottom: 20px;
}


.pac_text > div {
  width: 94px;
  height: 7px;
  background-color: #E74040;
  margin-bottom: 35px;
}

.pac_text > h1 {
  font-size: 40px;
  color: #252B42;
}

.pac_text > p {
  font-size: 14px;
  color: #737373;
}

.pac_text > button {
  border: none;
  background-color: transparent;
  color: #96BB7C;
  font-weight: bold;
  font-weight: 14px;
}
.video{
  display: flex;
  justify-content: space-between;
  padding: 10px 200px;
  align-items: center;
}
.Approdable{
    padding: 100px;
}
.wrapper {
   padding: 100px;
}
.cart{
  display: flex;
  align-items: center;
  gap: 20px;
  
}
.text > div {
   display: flex;
   gap: 10px;
}
.wrapper{
  display: flex;
  gap: 30px;
}
.cart > div > p:nth-child(1){
   color: #96BB7C;
}
.cart > div > h3:nth-child(3){
   color: #252B42;
}
.card > div > p:nth-last-child(5) {
    color: #FFFFFF;
}
.review{
  padding: 10px 200px;
}
.peoples{
  display: flex;
  justify-content: center;
  gap: 30px;
}
.peoples > div {
  margin-top: 100px;
  text-align: center;
  width: 30%;

}
.peoples > div > img{
  border-radius: 100%;
}
.team{
  padding: 10px 200px;
}

.teams {
  display: flex;
  gap: 30px;
  margin-top: 100px;
  justify-content: center;
}

.person > div {
  text-align: center;
  margin-top: 100px;
  width: 30%;
  box-shadow: 10px 10px 60px -1px rgba(0,0,0,0.69);
 
}
.teams > div{
  border-radius: 30px;
  overflow: hidden;
}
.last{
   padding: 10px 200px;
   background-color: #FFF2F3;
   width: 100%;
   height: 600px;
}
.z{
  text-align: center;
  padding: 150px;
}
.y{
  text-align: center;
}
form > button{
  background-color: #96BB7C ;
  padding: 10px;
  border-radius: 5px;
  border-style: none;
}
form > input{
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  border-style: none;
}
form{
  width: 40%;
  margin: 0 auto;
  display: flex;
  text-align: center;

}
footer{
  width: 100%;
  height: 300px;
  background-color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  padding: 0px 200px;
}
footer > div{
}